.wrapper h3 {
    margin-left: 2rem;
}

.detail {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.title {
    text-align: center;
}

.tech {
    flex: 1;
}

h5 {
    display: flex;
    justify-content: space-between;
}
